.section__padding {
  padding: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app__wrapper_img img {
  width: 80%;
}

.custom__button {
    background-color: var(--color-red);
    color: var(--color-white);
    font-family: var(--font-base);
    font-weight: 800;
    font-style: italic;
    max-width: 900px;
    letter-spacing: 0.04em;
    font-size: 23px ;
    white-space: nowrap;
    padding: 0 20px;
    text-transform: capitalize;
    border: none;
    outline: none;
    cursor: pointer;
}

.custom__buttonYellow{
  background-color: var(--color-golden);
  color: var(--color-blue);
  font-family: var(--font-base);
  font-weight: 800;
  font-style: none;
  max-width: 900px;
  letter-spacing: 0.04em;
  font-size: 23px ;
  white-space: nowrap;
  padding: 0 20px;
  text-transform: capitalize;
  border: none;
  outline: none;
  cursor:text;
  user-select:text;
}
.custom__a {
  font-family: var(--font-base);
  font-style: italic;
  background-color: var(--color-red);
  color: var(--color-white);
  font-weight: 800;
  max-width: 900px;
  font-size: 23px ;
  position:absolute;
  white-space: nowrap;
  padding: 0 20px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  transform: translate(-50%, -50%) rotate(-10deg);
  }


.p__cormorant {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 20px;
}

.p__opensans {
  font-family: var(--font-base);
  color: var(--color-black);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
  max-width: 500px;
  text-overflow: ellipsis;
}

.p__opensansNav {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
  max-width: 500px;
  text-overflow: ellipsis;
}

.headtext__cormorant {
  font-family: var(--font-base);
  color: var(--color-black);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}




@media screen and (min-width: 2000px) {
  .p__cormorant{
    line-height: 57px;
    font-size: 27px;
  }
  .p__opensans {
    font-size: 30px;
    line-height: 50px;
    max-width: 600px;
    text-overflow: ellipsis;
  }
  .p__opensansNav {
    font-size: 30px;
    line-height: 50px;
    max-width: 600px;
    text-overflow: ellipsis;
  }
  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }
  .custom__a {
    font-size: 30px;
   }
   .custom__button {
    font-size: 30px;
   }
   .custom__buttonYellow {
    font-size: 30px;
   }
}

@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 100%;
  }
  .p__opensans {
    max-height: 250px;
  }
  .p__opensansNav {
    max-height: 250px;
  }

}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
  .custom__a {
    font-size: 20px;
   }
   .custom__button {
    font-size: 20px;
   }
   .custom__buttonYellow {
    font-size: 20px;
   }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  
  .p__cormorant {
    font-size: 21px;
  }

  .p__opensans {
    font-size: 14px;
  }
  .p__opensansNav {
    font-size: 14px;
  }
  .custom__a {
    font-size: 10px;
   }

   .custom__button {
    font-size: 10px;
   }
   .custom__buttonYellow {
    font-size: 10px;
   }
}

@media screen and (max-width: 450px) {
  .p__opensans {
    font-size: 12px;
    max-width: 300px;
    text-overflow: ellipsis;
  }
  .p__opensansNav {
    font-size: 12px;
    max-width: 300px;
    text-overflow: ellipsis;
  }

  .p__cormorant {
    font-size: 19px;
  }

  .headtext__cormorant {
    font-size: 40px;
    line-height: 70px;
  }
}
